# Игнорирование виртуального окружения
venv/

# Игнорирование кэшированных файлов Python
__pycache__/

# Игнорирование настроек IDE
.idea/

# Игнорирование базы данных
bot_database.db

# Игнорирование переменных окружения
.env